body{
  background-image: url(https://github.com/akshaysoni10/Pizza-Website/blob/main/src/images/background.jpg?raw=true);
  
}

.nav-items a{
  float: right;
  color: #fff;
  padding-right: 30px;
  text-decoration: none;
  font-size: 20px;
  margin: 15px 20px;
  position: relative;
}

.nav-items a::after{
  content: '';
  width: 0;
  height: 3px;
  bottom: -3px;
  left: 50%;
  transform: translate(-90%);
  background-color: rgb(164, 247, 245);
  position: absolute;
  transition: width 0.3s;
  
}

.nav-items a:hover::after{
 width: 60%
 
}

.logo{
  height: 200px;
  width: 230px;
  margin-left: -750px;
  padding: 10px;
}


.heading{
  margin-left: 17rem;
  margin-top: -14rem;
  font-size: 60px;
  color: transparent;
  -webkit-text-stroke: 1px rgb(232, 167, 239);
  background: url(https://github.com/akshaysoni10/Pizza-Website/blob/main/src/images/text-bg.jpg?raw=true);
  -webkit-background-clip: text;
  background-clip:text ;
  background-position: 0 0 ;
  animation: back 15s linear infinite;

}

@keyframes back{
  100%{
    background-position: 2000px 0;
  }
}

.content{
  margin: 120px 10px;

  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 30px;
  padding: 10px;
  justify-content: space-between;
  color: transparent;
  -webkit-text-stroke: 1px rgb(156, 161, 124);
  background: url(https://github.com/akshaysoni10/Pizza-Website/blob/main/src/images/text-bg.jpg?raw=true);
  background-clip: text;
  background-position: 0 0;
  animation: back 15s linear infinite;
  
}

@keyframes animate{
  100%{
    background-position: 3000px 5px;
  }
}

.caption{
  color: #fff;
  font-size: 40px;
  position: absolute;
  margin-left: 5rem;
  margin-top: 8rem;
  font-family:cursive;
  font-style: italic;
}

.chef{
  width: 300px;
  height: 300px;
  border-radius:50%;
  margin-left: 60rem;
  margin-bottom: 3rem;
  position: relative;
}

section{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

section p{
  font-family:cursive;
  font-size: 14px;
  line-height: 25px;
}


section h1{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}

section div{
  height: 330px;
  width: 250px;
  color: #fff;
  padding: 30px;
  border-radius: 14px;
  min-width: 250px;
  box-shadow: 12px 0px 32px -12px white;
  margin-left: -130px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

section div:nth-child(1){
  background: #136AD5;
}

section div:nth-child(2){
  background: #1e5a4b;
}

section div:nth-child(3){
  background: #1ec2d8;
}

section div:nth-child(4){
  background: #d14576;
}


section div:nth-child(5){
  background: #be894c;
}


section div:hover{
  transform: translateX(-16px) rotate(3deg);
}

section div:hover ~ div{
  transform: translate(130px);
}


section button{
  font-size: 20px;
  font-weight: bold;
  background-color: #04AA6D;
  padding: 8px;
  margin-left: 3rem;
  border-radius: 10px;
  border: 2px solid rgb(46, 147, 145); 
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}


section button:hover{
  background-color: #a7e4e7;
  color: red;
}


.title-word{
/* color: white; */
  animation: color-animation 4s linear infinite;
}

.tw-1{
  --color-1:#DF8453;
  --color-2:#3D8DAE;
  --color-3:#E4A9A8;
}

.tw-2{
  --color-1:#55c391;
  --color-2:#b570c7;
  --color-3:#96d88d;
}


.tw-3{
    --color-1:#9491e7;
    --color-2:#d983ac;
    --color-3:#88dbdd;
}


@keyframes color-animation{
  0% {color:val(--color-1)}
  32% {color:val(--color-1)}
  33% {color:val(--color-2)}
  65% {color:val(--color-2)}
  66% {color:val(--color-3)}
  99% {color:val(--color-3)}
  100% {color:val(--color-1)}
}

.container{
  display: grid;
  place-items: center;
  text-align: center;
    }

.deal-txt{
  font-weight: 800;
  font-size: 60px;
}

.small{
  width: 300px;
  height: 300px;
  margin-left: 10rem;
  border-radius: 10px 10px 0 0;
}

.medium{
  width: 300px;
  height: 300px;
  margin-left: 8rem;
  border-radius: 10px 10px 0 0;
}


.large{
  width: 300px;
  height: 300px;
  margin-left: 8rem;
  border-radius: 10px 10px 0 0;
}

.box-1{
  width: 300px;
  height: 100px;
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
  margin-left: 16rem;
  position: relative;
  margin-top: -1.5rem;
}


.box-2{
  width: 300px;
  height: 100px;
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
  margin-left: 69.3rem;
  position: relative;
  margin-top: -7.6rem;
}


.box-3{
  width: 300px;
  height: 100px;
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
  margin-left: 42.6rem;
  position: relative;
  margin-top: -106px;
}

.small-txt, .medium-txt, .large-txt{
  font-size: 20px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.view-btn{
  /* margin-left: 2rem; */
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  font-size: 20px;
  text-decoration: none;
  background-color: #e8b88c;
  cursor: pointer;
  border: 1px solid blue;

}


.view-btn:hover{
  background-color: #c8dc58;
}


.footer-container{
  width: 101%;
  height: 500px;
  background-color: black;
  margin-top: 8rem;
  position: relative;
}

.order, .about, .policy{
  color: #fff;
  position: absolute;
  margin-top: 5rem;
}

.order, .order-li{
  margin-left: 20rem;
}

.about, .about-li{
  margin-left: 40rem;
}

.policy, .policy-li{
  margin-left: 60rem;
}

.order-li, .about-li, .policy-li{
  color: #fff;
  position: absolute;
  margin-top: 8rem;
  text-align: left;
}

.feedback-txt{
  position: absolute;
  color: #fff;
  margin-top: 17rem;
  margin-left: 20rem;
}

.fdbk-btn{
  position: absolute;
  margin-top: 17rem;
  margin-left: -15rem;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;

}


.fdbk-btn:hover{
  background-color: #b570c7;
  transition: 0.4s;

}

.follow{
  position: absolute;
  color: #fff;
  margin-top: 17rem;
  margin-left: 60rem;
}

.social-container{
  position: absolute;
  margin-left: 56rem;
  margin-top: 17rem;
}

.twitter{
  margin-left: 4rem;
}

.instagram{
  margin-left: 4rem;
}


.thank-txt{
  position: absolute;
  color: #fff;
  margin-left: 15rem;
  margin-top: 28rem;

}

.thanks{
  position: absolute;
  width: 150px;
  height: 70px;
  margin-left: 22rem;
  margin-top: -4rem;
}

.contact-part, .home-part, .about-part, .details-part{
  color: #fff;
}